img { width: 100% }
footer {
  text-align: center;
  margin-top: 30px; }

section.gallery > div {
  display: none; }

header {
  display: flex;
  justify-content: space-between; }
  header img {
    padding: 20px; }

.info {
  margin: 20px;
  background: #ccc;
  border: 1px solid #aaa; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-family: sans-serif;
  font-size: 16px; }

body, html {
  height: 100%; }

body {
  background: #ff0000; }

.container {
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background: #fff;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  min-height: 99%; }

h1 {
  text-align: center; }

button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid blue;
  background: #00bfff;
  color: #fff;
  cursor: pointer; }

section {
  display: none; }

.visible {
  display: block !important; }

menu {
  display: flex;
  justify-content: space-around; }

nav {
  display: flex;
  justify-content: space-around; }
  
  div.team img { float: right }
  
  
  
